<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DWMBGConfigEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DWMBGConfigEditor.Properties.Settings>
            <setting name="DWMBG_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="DWMBG_AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartIsBack_Change" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LinkBothColorsAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DWM_AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Explorer_AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartIsBack_Opacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StartIsBack_Blur" serializeAs="String">
                <value>1</value>
            </setting>
        </DWMBGConfigEditor.Properties.Settings>
    </userSettings>
</configuration>